@import '../../styles/breakpoints';
@import '../../styles/variables';

.hero {
	width: 100%;
	max-width: 496px;
	min-width: 496px;
	height: 90vh;
	padding: 45px;
	position: relative;
	@include breakpoint(md) {
		padding: 16px;
		max-width: 100%;
		min-width: 100%;
	}
	@include breakpoint(sm) {
		max-width: 100%;
		height: fit-content;
	}

	h1 {
		font-size: 56px;
		font-weight: 800;
		@include breakpoint(md) {
			font-size: 46px;
		}
		@include breakpoint(sm) {
			font-size: 38px;
		}
	}

	h2 {
		font-size: 32px;
		margin-top: 0.75rem;
		@include breakpoint(sm) {
			font-size: 20px;
		}
	}

	.bio {
		margin-top: 2rem;
		color: $gray;
		line-height: 25px;
		@include breakpoint(lg) {
			max-width: 496px;
			min-width: 496px;
		}
		@include breakpoint(sm) {
			min-width: 100%;
		}
		@include breakpoint(md) {
			max-width: 400px;
		}
	}

	// nav

	nav {
		margin: 3rem 0;
		@include breakpoint(sm) {
			display: none;
		}
		ul {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			.nav-link,
			.active-nav-link {
				font-size: 16px;
				display: flex;
				align-items: center;
				gap: 1rem;
				cursor: pointer;
				width: fit-content;
				a {
					color: $gray;
					text-decoration: none;
				}
				&:hover {
					a,
					.number {
						color: $silk;
						// color: $honey;
					}
					.short-line {
						display: block;
						width: 85px;
						height: 1px;
						background-color: $silk;
						transition: width 0.3s ease-in-out;
					}
				}
				.number {
					max-width: 20px;
					min-width: 20px;
					display: flex;
					justify-content: center;
					color: $gray;
				}
				.extended-line {
					display: block;
					width: 85px;
					height: 1px;
					background-color: $silk;
					transition: width 0.3s ease-in-out;
				}
				.short-line {
					display: block;
					width: 50px;
					height: 1px;
					background-color: $gray;
					transition: width 0.3s ease-in-out;
				}
			}
			.active-nav-link {
				a,
				.number {
					color: $silk;
				}

				.extended-line {
					width: 85px;
				}
			}
		}
	}

	.extra-content {
		margin-top: 2rem;
		display: flex;
		align-items: center;
		position: absolute;
		bottom: 2rem;
		@include breakpoint(sm) {
			position: relative;
			margin-top: 4rem;
		}
		img {
			max-width: 45px;
			border-radius: 50%;
			margin-right: 2rem;
			@include breakpoint(sm) {
				margin-right: 10px;
			}
		}
		.linkedin,
		.github {
			display: flex;
			align-items: center;
			gap: 1rem;
			margin-right: 2rem;
			cursor: pointer;
			@include breakpoint(sm) {
				gap: 7px;
				margin: 15px;
			}
			&:hover {
				color: $honey;
				svg {
					color: $honey;
				}

				.github-icon {
					fill: $honey;
				}
				.linkedin-icon {
					path {
						&:nth-child(1) {
							fill: $honey;
						}
					}
				}
			}
			p {
				font-size: 14px;
			}
			svg {
				width: 12px;
				color: white;
			}
			.github-icon {
				fill: white;
				width: 16px;
			}

			.linkedin-icon {
				width: 17px;
			}
		}
	}
}
