@import './variables';
@import './breakpoints';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: $mattBlack;
}

.App {
	display: flex;
	justify-content: center;
	padding: 32px;
	gap: 2rem;
	@include breakpoint(sm) {
		flex-direction: column;
	}
}
